@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
	background:url(./black-map-bg-bg.jpg) no-repeat 50% 50%;
	background-size:cover;
}
.container {
    /* display: flex; */
    margin-top: 3%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-body{
    width: 100%;
}
.btn{
    background-color: #2C3639;
    color: azure;
    opacity: 0.7;
    border-color: #2C3639;
}
.btn:hover {
    background-color: #2C3639;
    opacity: 1;
    color: azure;
    border-color: #2C3639;
}

.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}

.input-group {
    margin-bottom: 10px;
}

.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.75;
}

#logo{
    width: 870px;
}

#logo img{
    height: 65px;
    width: 320px;
    filter: invert(100%);
    margin: 10px;
}

#navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#navbar li{
    color: white;
}

#navbar li a{
    color: grey;
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
}

#navbar li a:hover{
    color: white;
}

#navbar li span{
    display: block;
}

#profile {
    text-align: center;
}

#home {
    text-align: center;
}

.padtop {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}
