<html>
    <head>
        <title>Post</title>
    </head>
    <body>
        <h1>My App</h1>
        <h2>Map Visualization</h2>
        <form action = "/myApp/map/" method="post">
            {% csrf_token %}
            <input type="text" name="Title" placeholder="Title" />
            <input type="text" name="Description" placeholder="Description" />
            <input type="number" step = "0.00001" name="Latitude" placeholder="Latitude" />
            <input type="number" step = "0.00001" name="Longitude" placeholder="Longitude" />
            <button>Post</button>
            
<iframe width="640px" height="360px" src="https://thunbergii.app.carto.com/map/fd10a3c2-7c5b-48ab-87c7-ffec3b80ddfb"></iframe>
        </form>
    </body>
</html>