<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'myApp/EditDetails.css' %}" type = "text/css">
    <link rel=icon href="{% static 'myApp/edit_icon.png' %}" >
    <title>Edit Details</title>
</head>

<body>
    {% if user != None%}
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/postIncident/">Post Incident</a></li>
            <li class="padtop"><a href="/myApp/postProperty/">Post Property</a></li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/logout">Sign Out</a></li>
            <li class="padtop">
                <div id="profile">
                    <a href="/myApp/profile/">
                        <span class="far fa-user"></span>
                        Profile
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    {% else %}
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/login">Sign In/Register</a></li>
        </ul>
    </nav>
    {%endif%}
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card" style="border-radius: 1rem; height: 99%; width: 100%; text-align: center; ">
                            <div class="card-body" style=" padding: 3rem 0 0 ;">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <div style="margin-bottom: 1rem;">
                                        <h1 style="font-size: 3rem;"><strong>Edit Details!</strong></h1>
                                    </div>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                        class="rounded-circle" width="250">
                                    <div class="mt-3">
                                        <h3>{{user.FirstName}} {{user.LastName}}</h3>
                                        <div class="card mt-3">
                                            <ul class="list-group list-group-flush">
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                            height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="feather feather-twitter mr-2 icon-inline text-info">
                                                            <path
                                                                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                                            </path>
                                                        </svg>Twitter</h6>
                                                    <span class="text-secondary">{{user.Twitter}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                            height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="feather feather-instagram mr-2 icon-inline text-danger">
                                                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5">
                                                            </rect>
                                                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z">
                                                            </path>
                                                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                                        </svg>Instagram</h6>
                                                    <span class="text-secondary">{{user.Instagram}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-8">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="card-body">

                            <form action="/myApp/editprofile/" method="POST">
                                    {% csrf_token %}

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Username</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="UserName" class="form-control" value="{{user.UserName}}" readonly>
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">First Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="FirstName" class="form-control" value="{{user.FirstName}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Last Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="LastName" class="form-control" value="{{user.LastName}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="Email" class="form-control" value="{{user.Email}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">DOB</h6>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="date" id="start" name="DOB" value="{{user.DOB}}"
                                            min="1900-01-01" max="2021-12-31">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Address Line 1</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="AddressLine1" class="form-control" value="{{user.AddressLine1}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Address Line 2</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="AddressLine2" class="form-control" value="{{user.AddressLine2}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Locality</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="Locality" class="form-control" value="{{user.Locality}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Pincode</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="number" name="Pincode" class="form-control" value="{{user.Pincode}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">City</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="City" class="form-control" value="{{user.City}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">State</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="State" class="form-control" value="{{user.State}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Country</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="Country" class="form-control" value="{{user.Country}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Latitude</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="number" step="0.000001" name="Latitude" class="form-control" value="{{user.Latitude}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Longitude</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="number" step="0.000001" name="Longitude" class="form-control" value="{{user.Longitude}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone Number</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="number" name="Mobile" class="form-control" value="{{user.Mobile}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Instagram</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="Instagram" class="form-control" value="{{user.Instagram}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Twitter</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="Twitter" class="form-control" value="{{user.Twitter}}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="submit" name="submit" class="btn btn-primary px-4" value="Save Changes">
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $("#datepicker").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                }).datepicker('update', new Date());
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</body>

</html>
