<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="/nav_reg.css">
  {% load static %}
  <link rel="stylesheet" href="{%static 'myApp/PostInc.css'%}" type = "text/css"> 
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />
</head>

<title>Post Incident</title>
</head>

<body>
  
  <nav id="navbar">
    <div id="logo">
      <a href="#"><img src="{% static 'myApp/logo.png' %}" alt=""></a>
    </div>
    <ul>
      <li class="padtop"><a href="/postincident">Post Incident</a></li>
      <li class="padtop"><a href="#">Post Property</a></li>
      <li class="padtop"><a href="/incidentfeed_auth">Incident Feed</a></li>
      <li class="padtop"><a href="#">Property Feed</a></li>
      <li class="padtop"><a href="/logout">Logout</a></li>
      <li>
        <div id="profile">
          <a href="#">
            <span class="far fa-user"></span>
            Profile
          </a>
        </div>
      </li>

    </ul>
  </nav>

  <div class="wrapper">
    <div class="text-center mt-4 name">
      Post an Incident
    </div>
    <form class="p-3 mt-3" action="/myApp/postIncident/" method="post">
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" name="Title" placeholder="Title" required />
      </div>
      <textarea name="Description" id="Description" cols="53" rows="10" placeholder="Add Description"
        required></textarea>

      
      
      <div class="form-field d-flex align-items-center">
        <input id='search-input' type='text' placeholder='Search for a location'>
        <button id='search-button' type='button'>Search</button>
        <!-- <p id="error-message"></p> -->
      </div>

      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="number" step="0.000001" id='longitude' name="Latitude" placeholder="Latitude" min="-90" max="90"
          required />
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="number" step="0.000001" id='latitude' name="Longitude" placeholder="Longitude" min="-180" max="180"
          required />
      </div>

      <div>
        <p id='place'></p>
        <p id='err'></p>
        <!-- <p id='longitude'></p>
        <p id='latitude'></p> -->
      </div>
      <div class="form-field " id='map'></div>


      
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="datetime-local" placeholder="Time" name="Time" required />
      </div>
      <div class="radio">
        <div>
          <input type="radio" name="crime-or-hazard" value="crime" onclick="showOptions()"> Crime
        </div>
        <div>
          <input type="radio" name="crime-or-hazard" value="hazard" onclick="showOptions()"> Hazard
        </div>
        <div>
          <select class="btn" id="dropdown"></select>
        </div>
      </div>
      <button class="btn mt-3">Post Incident</button>
    </form>
  </div>
  <script src=' https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js'>
  </script>
  <script src="{% static 'myApp/postincident.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>