<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  {%load static%}
  <link rel="stylesheet" href="{%static 'myApp/incfeed.css'%}" type = "text/css">
  <title>Incident Feed</title>
</head>

<body>
  {% if user != None%}
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/postIncident/">Post Incident</a></li>
            <li class="padtop"><a href="/myApp/postProperty/">Post Property</a></li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/logout">Sign Out</a></li>
            <li class="padtop">
                <div id="profile">
                    <a href="/myApp/profile/">
                        <span class="far fa-user"></span>
                        Profile
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    {% else %}
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/login">Sign In/Register</a></li>
        </ul>
    </nav>
    {%endif%}
  
  <header id="header">
    <h1>Incident Feed</h1>
    <div class="container">
      <form>
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
    </div>
  </header>

  <div class="container">
    <div class="filters">
      <h2>Filters</h2>
      <label>
        <input type="checkbox" name="crime" checked>
        Crime
      </label>
      <label>
        <input type="checkbox" name="hazard" checked>
        Hazard
      </label>
    </div>
    <div class="post-container" id="post-container"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./myApp/incfeed.js"></script>
  <div class="container">
    <div class="col-md-12 col-lg-12">
      {%for post in posts%}
      
      <article class="post vt-post">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
            <div class="post-type post-img">
              <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive"
                  alt="image post"></a>
            </div>
            <div class="author-info author-info-2">
              <ul class="list-inline">
                <li>
                  <div class="info">
                    <p>Title:</p>
                    <strong>{{post.title}}</strong>
                  </div>
                  <div class="info">
                    <p>Description:</p>
                    <strong>{{post.description}}</strong>
                  </div>
                  <div class="info">
                    <p>Coordinates(long,lat):</p>
                    <strong>{{post.longitude}}</strong>
                    <strong>{{post.latitude}}</strong>
                  </div>
                  <div class="info">
                    <p>Property Rating:</p>
                    <strong>{{post.score}}</strong>
                  </div>
                  <div class="info">
                    <p>Located in:</p>
                    <strong>{{post.address_line1}}</strong>
                    <strong>{{post.address_line2}}</strong>
                    
                    <strong>{{post.city}}</strong>
                    <strong>{{post.state}}</strong>
                    <strong>{{post.country}}</strong>
                    <strong>{{post.pincode}}</strong>
                    
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
            <div class="caption">
              <h3 class="md-heading"><a href="/myApp/seepost/{{post.post_ID}}">{{post.title}}</a></h3>
              <p>{{post.description}}</p>
              <a class="btn btn-default" href="#" role="button">Read More</a>
            </div>
          </div>
        </div>
      </article>
      {%endfor%}
      <div class="clearfix"></div>
    </div>
  </div>
</body>
</html>
