<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
  {% load myApp_extras%}
  {% load static %}
  <link rel="stylesheet" href="{%static 'myApp/incfeed.css'%}" />
  <title>Property Feed</title>
</head>

<body>
  {% if user is not None %}
  <nav id="navbar">
    <div id="logo">
      <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
    </div>
    <ul>
      <li class="padtop">
        <div id="home">
          <a href="/myApp/">
            <span class="fas fa-home"></span>
            Home
          </a>
        </div>
      </li>
      <li class="padtop"><a href="/myApp/postIncident/">Post Incident</a></li>
      <li class="padtop"><a href="/myApp/postProperty/">Post Property</a></li>
      <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
      <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
      <li class="padtop"><a href="/myApp/logout">Sign Out</a></li>
      <li class="padtop">
        <div id="profile">
          <a href="/myApp/profile/">
            <span class="far fa-user"></span>
            Profile
          </a>
        </div>
      </li>
    </ul>
  </nav>
  {% else %}
  <nav id="navbar">
    <div id="logo">
      <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
    </div>
    <ul>
      <li class="padtop">
        <div id="home">
          <a href="/myApp/">
            <span class="fas fa-home"></span>
            Home
          </a>
        </div>
      </li>
      <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
      <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
      <li class="padtop"><a href="/myApp/login">Sign In/Register</a></li>
    </ul>
  </nav>
  {% endif %}
  <div class="input-group rounded" id="search">
    <form action="/myApp/searchIncident/" method="POST">
      {% csrf_token %}
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="prompt" />
      <!-- <span class="input-group-text border-0" id="search-addon"> -->
      <!-- </span> -->
    </form>
  </div>
  <div class="feeds">
  {%for post in posts%}
  <div class="card" id="{{post.post_ID}}">
    <div class="card-body">
      <div class="details">
       
          <h5 class="card-title">{{post.title}}</h5>
      
      </div>
        <div>
          <h6 class="card-title">Property score: {{post.score}}</h6>
        </div>
        <div>
          <h6 class="card-title ">
            Posted by <a href="/myApp/seeprofile/{{post.author}}"> {{post.author}}</a>
          </h6>
        </div>
     
      <hr>
      <p class="card-text"><b>Address: </b>{{post.address_line1}} , {{post.city}},{{post.state}},{{post.country}}</p>
      <p class="card-text">{{post.description}}</p>
    </div>
    <!-- <strong>{{post}}</strong>
      <strong>{{user}}</strong>
      <strong>{{user.upvoted.hetav}}</strong> -->
  </div>
  {%endfor%}
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  {% load static %}
  <script src="{%static 'myApp/incidentfeed.js'%}"></script>
</body>

</html>
