<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% load static %}
    <link rel="stylesheet" href="{%static 'myApp/reg_hmpg.css'%}" type="text/css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/postIncident/">Post Incident</a></li>
            <li class="padtop"><a href="/myApp/postProperty/">Post Property</a></li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/logout">Sign Out</a></li>
            <li class="padtop">
                <div id="profile">
                    <a href="/myApp/profile/">
                        <span class="far fa-user"></span>
                        Profile
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="500" src="https://charts.mongodb.com/charts-project-0-xyqfv/embed/charts?id=643a9583-33ac-4b9c-85e2-1e76be3b4c92&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
</body>
</html>