<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% load static %}
    <link rel="stylesheet" href="{%static 'myApp/reg_hmpg.css'%}" type="text/css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop"><a href="/myApp/postIncident/">Post Incident</a></li>
            <li class="padtop"><a href="/myApp/postProperty/">Post Property</a></li>
            <li class="padtop"><a href="#">Incident Feed</a></li>
            <li class="padtop"><a href="#">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/logout">Sign Out</a></li>
            <li>
                <div id="profile">
                    <a href="#">
                        <span class="far fa-user"></span>
                        Profile
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>