<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
    <link rel="stylesheet" href="{% static '/myApp/registration.css'%}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<title>Document</title>
</head>
<body>
	
	{% if user != None%}
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/postIncident/">Post Incident</a></li>
            <li class="padtop"><a href="/myApp/postProperty/">Post Property</a></li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/logout">Sign Out</a></li>
            <li class="padtop">
                <div id="profile">
                    <a href="/myApp/profile/">
                        <span class="far fa-user"></span>
                        Profile
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    {% else %}
    <nav id="navbar">
        <div id="logo">
            <a href="#"><img src="{%static 'myApp/logo.png'%}" alt=""></a>
        </div>
        <ul>
            <li class="padtop">
                <div id="home">
                    <a href="/myApp/">
                        <span class="fas fa-home"></span>
                        Home
                    </a>
                </div>
            </li>
            <li class="padtop"><a href="/myApp/IncidentFeed">Incident Feed</a></li>
            <li class="padtop"><a href="/myApp/PropertyFeed">Property Feed</a></li>
            <li class="padtop"><a href="/myApp/login">Sign In/Register</a></li>
        </ul>
    </nav>
    {%endif%}
	
	<div class="wrapper">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{error_message}}
            </div>
        {% endif %}
        <div class="text-center mt-4 name">
            Registration
        </div>
        <form class="p-3 mt-3" action = "/myApp/register/" method="post">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="UserName" id="userName" placeholder="Username" required autocomplete="off"/>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-id-card"></span>
                <input type="text" name="FirstName" id="fstname" placeholder="First Name" required autocomplete="hv"/>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-id-card"></span>
                <input type="text" name="LastName" id="lstname" placeholder="Last Name" required autocomplete="nope"/>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-calendar"></span>
                <input type="text" class="form-control" id="DOB" name="DOB" onfocus="this.type='date'" placeholder="Date of Birth (DD-MM-YYYY)" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-envelope"></span>
                <input type="email" name="Email" id="_emaiid" placeholder="Email" required autocomplete="nope"/>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="Password" id="pwd" placeholder="Password" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="ConfirmPassword" id="pwd" placeholder="Confirm Password" required>
            </div>
            <button class="btn mt-3">Register</button>
        </form>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
